@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', sans-serif;
}

/* UTILITIES */
a {
    color: #2B78E4;
}

h3 {
    font-size: 20px;
}

p, .yellow-btn {
    font-size: 18px;
}

body {
    width: 50vw;
    margin: 0 auto;
}

.mrgn-btm {
    margin-bottom: 20px;
}


/* NAV */
header {
    background-color: #000000;
    color: #ffffff;
    height: 60px;

    display: flex;
    align-items: center;
}

.network {
    margin-left: 20px;
}

.title {
    margin: 20px;
    text-align: center;
}


/* CONTAINER */
.container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
}

img {
    height: 100px;
}


/* LEFT COLUMN */
.left {
    border: 5px solid #000000;
    height: 100%;
    padding: 20px;
    text-align: center;
    width: 150px;
}


/* RIGHT COLUMN */
.likes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-1, .user-2, .user-3 {
    border: 5px solid #000000;
    height: 100px;
    margin-bottom: 20px;
    padding: 20px;
}


.yellow-btn {
    background-color: #FFD966;
    border: 3px #000000 solid;
    border-radius: 0%;
    box-shadow: 2px 2px #000000;
    height: 30px;
    padding: 0px 15px;
}